
table{
	text-align: center;
	width: 80%;
 	font-family: 'Rock Salt', cursive;
	padding: 20px;
	font-style: italic;
	caption-side: bottom;
	color: #666;
	text-align: right;
	letter-spacing: 1px; 
	text-transform: capitalize;
}

th {
  letter-spacing: 2px;
  padding-bottom: 15px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}


td:nth-child(2){
	text-transform: uppercase;
}